<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ru.betsistudio.app"
    versionCode = "10"
    version     = "1.3.0">

<name>ТЕСТ. BetsiStudio</name>

<description>
    Студия красоты, интернет-магазин
</description>

<author>Tadapp</author>

<plugin name='cordova-plugin-splashscreen' />
<plugin name='cordova-plugin-inappbrowser' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='orientation' value='portrait' />

<gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

<preference name='windows-appx-target' value='8.1-win' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='android-build-tool' value='gradle' />
<preference name='android-minSdkVersion' value='16' />
<preference name='orientation' value='portrait' />

<preference name='windows-appx-target' value='8.1-phone' />
<preference name='WindowsToastCapable' value='true' />

<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="SplashScreenSpinnerColor" value="#ED2020" />


<platform name="android">
    <icon src="res/android/icon/fca19604771e98e8d91dd81ea128b701.png" density="ldpi" />
    <icon src="res/android/icon/608f7a7da6efd7a2da1a88900c88c951.png" density="mdpi" />
    <icon src="res/android/icon/48dfdb2a93de8843d876c9a93d9dd228.png" density="hdpi" />
    <icon src="res/android/icon/663bce38ebf8a9e6a851e311be5eb9e8.png" density="xhdpi" />
    <icon src="res/android/icon/ea0310bd97858336186f9d4811ca3e64.png" density="xxhdpi" />
    <icon src="res/android/icon/96babf95a31b7837f6e6e1600024964a.png" density="xxxhdpi" />

    <splash src="res/android/screen/745f71b0c818770c32bf25e8bf16d641.png" density="port-hdpi"/>
    <splash src="res/android/screen/e3b9f09b6de4953fe9dd177635424f94.png" density="port-ldpi"/>
    <splash src="res/android/screen/f40d6834b3d71b8d8a3a34fc40e2cb10.png" density="port-mdpi"/>
    <splash src="res/android/screen/f22c51b6fd71f9aa673b93c5e34b7570.png" density="port-xhdpi"/>
</platform>

<platform name="ios">
	<icon src="res/ios/icon/2ee7fc7dcc1848467513430ce35275ba.png" width="180" height="180" />
	<icon src="res/ios/icon/04288d224b732707edc442a250e50f75.png" width="60" height="60" />
	<icon src="res/ios/icon/e874bd93269f4e3b8e916c31837568ef.png" width="120" height="120" />
	<icon src="res/ios/icon/1b36427b416c99fdc9f28152576be3b0.png" width="76" height="76" />
	<icon src="res/ios/icon/3bcc3bca2e6046f8ec5c0e8d53c9d703.png" width="152" height="152" />
	<icon src="res/ios/icon/67e6a76c394f9012edd5fb1d3d58705a.png" width="57" height="57" />
	<icon src="res/ios/icon/ae1655be15b9a4a71c0e03710e02013d.png" width="114" height="114" />
	<icon src="res/ios/icon/0c7c1af6f0d0c4924aca8970a7b5b555.png" width="72" height="72" />
	<icon src="res/ios/icon/f1ae10174421d80b6316d4a3ae364633.png" width="144" height="144" />
	<icon src="res/ios/icon/f77dea8ea64780d62fad5da915c3ebae.png" width="167" height="167" />
	<icon src="res/ios/icon/db95ba9d8007799b21b8195ce22087c4.png" width="29" height="29" />
	<icon src="res/ios/icon/f9150f20c90d23cfaa49057c2e237a67.png" width="58" height="58" />
	<icon src="res/ios/icon/3b0b41806c56bc4aa2fbfb4a49657fa4.png" width="87" height="87" />
	<icon src="res/ios/icon/f1a121b3fb0b40b0cef0361e8ed6a160.png" width="167" height="167" />

	<splash src="res/ios/screen/d55a7131eaec04b4d94611757f7fa7ff.png" />
    <splash src="res/ios/screen/cdfcd3e3ae648724b67f3f40c999a42a.png" />
    <splash src="res/ios/screen/325af19a85a4e9c2229cac170ff7f3e3.png" />
    <splash src="res/ios/screen/5745f64a6ddd32da99e310966e17035a.png" />
    <splash src="res/ios/screen/4da89c29fccc24f4ee4c9485da98bfae.png" />
    <splash src="res/ios/screen/3b759c63237bc0378c75a52795937df2.png" />
</platform>

<platform name="winphone">
    <icon src="res/windows/icon/4a036c7b41eb20c0460b75908d5c7714.png" target="StoreLogo" />
    <icon src="res/windows/icon/2c53744e9a13469e0bd88fbff4086fd6.png" target="Square30x30Logo" />
    <icon src="res/windows/icon/90852b89ce3ad10d7fc36530e313dd53.png" target="Square44x44Logo" />
    <icon src="res/windows/icon/e83152b91f86585b5940458af91e61ea.png" target="Square70x70Logo" />
    <icon src="res/windows/icon/698a2de9dea3cb51cf53d5e954334478.png" target="Square71x71Logo" />
    <icon src="res/windows/icon/7c034ca2af83da6bed0cca95a0581c7b.png" target="Square150x150Logo" />
    <icon src="res/windows/icon/6678b8679d4515201160e8b737982d0a.png" target="Square310x310Logo" />

    <splash src="res/windows/screen/9d986f5c0f2fd59b0c3ed7f6a3ba4bf1.png" target="SplashScreen"/>
    <splash src="res/windows/screen/6235bad0f66a8916b46c0c8af355b055.png" target="SplashScreenPhone"/>
</platform>

<access origin='*'/> 
<plugin name='cordova-plugin-whitelist' />
<allow-intent href='http://*/*'/>
<allow-intent href='https://*/*'/>
<allow-intent href='tel:*'/>
<allow-intent href='sms:*'/>
<allow-intent href='mailto:*'/>
<allow-intent href='geo:*'/>

</widget>